[Desktop Entry]
Type=Application
Name=${APP_FRIENDLY_NAME}
Icon=${APP_ID}
StartupWMClass=${APP_BASE_NAME}
Comment=${APP_SHORT_SUMMARY}
Exec=env WEBKIT_DISABLE_COMPOSITING_MODE=1 ${INSTALL_EXEC}
TryExec=${INSTALL_EXEC}
NoDisplay=${DESKTOP_NODISPLAY}
Terminal=${DESKTOP_TERMINAL}
Categories=${PRIME_CATEGORY};
X-AppImage-Name=${APP_ID}
X-AppImage-Version=${APP_VERSION}
X-AppImage-Arch=${PACKAGE_ARCH}
MimeType=
Keywords=