<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="git.guerra24.net" value="https://git.guerra24.net/api/packages/Guerra24/nuget/index.json" />
    <add key="Toolkit Labs" value="https://pkgs.dev.azure.com/dotnet/CommunityToolkit/_packaging/CommunityToolkit-Labs/nuget/v3/index.json" />
  </packageSources>
</configuration>